################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WTW_EO_DotNet_WorkPulse/v17
/.vs/WTW_EO_DotNet_WorkPulse/FileContentIndex
/.vs
/AOM_Tool - V26/.vs/AOM_Tool/FileContentIndex/e7558b39-5591-45c6-bf9c-3486172c01ad.vsidx
