----inserting data into final verification table for associates who did not login in
declare @LastUpdatedBy_Associate nvarchar(300)
declare @logindatefinal date
declare @teamid int
set @LastUpdatedBy_Associate = 'guptapo'
set @logindatefinal = '2023-09-26'
set @teamid = 8

-----inserting records for core tasktype and idle time
insert into aom.tbl_verification_volumes_dotnet(ActivityNameID,AssociateName,IsDeleted,AOM_Date,TeamNameID,Volumes)
select a.ActivityNameID,@LastUpdatedBy_Associate,0,convert(date,@logindatefinal),@teamid /*a.TeamNameID*/,0
from aom.vw_teamdetails_dotnet a inner join aom.vw_tasks_details_dotnet b on a.ActivityNameID = b.ID
where 1=1
and INTID = @LastUpdatedBy_Associate
and b.TaskType not in ('Downtime','Diverted','Break','Log In','Log Off')

-----insert records for non core task types

insert into aom.tbl_verification_volumes_dotnet(ActivityNameID,AssociateName,IsDeleted,AOM_Date,TeamNameID)
select a.ID,@LastUpdatedBy_Associate,0,convert(date,@logindatefinal),@teamid
from aom.vw_tasks_details_dotnet a 
where 1=1
and TaskType in ('Downtime','Diverted','Break')
